.card {
    width: 100%;
    height: 125px;
    padding: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: var(--color-gray);
    border-radius: var(--radius);
}
@media screen and (max-width: 1300px) {
    .card {
        flex: 1;
        justify-content: center;
    }
}

.container_icon {
    padding: 2rem;
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_calorie { background-color: #fbeaea; }
.icon_protein { background-color: #e9f4fb; }
.icon_carbohydrate { background-color: #fbeaef; }
.icon_lipid { background-color: #fbf6e5; }

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}
.value {
    font-size: 2rem;
    font-weight: 500;
}
.unit {
    font-size: 1.4rem;
    color: var(--color-text);
}