.chart_score {
    padding: 2rem;
    min-height: 260px;
    border-radius: var(--radius);
    background-color: var(--color-gray);
    position: relative;
}

.container_percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    position: absolute;
    font-size: 1.5rem;
    align-self: start;
}
.percentage {
    font-size: 2.5rem;
    font-weight: 500;
}
.text {
    max-width: 70px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-text);
}