*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #FF0101;
    --radius: 5px;
    --transition: 250ms;

    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body {
    height: 100vh;
}

a {
    color: white;
    text-decoration: none;
}
a.active {
    color: var(--color-primary);
}

code {
    font-size: 2rem;
}