.noResult {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.title {
    font-size: clamp(2.5rem, 3vw, 3.5rem);
}

.link {
    text-decoration: underline;
    font-size: 1.8rem;
    color: var(--color-primary);
}