.aside {
    min-width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
}

.list {
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style-type: none;
}

.icon {
    padding: 1rem;
    background-color: white;
    border-radius: var(--radius);
    border: 2px solid white;
    transition: border-color var(--transition);
    cursor: pointer;
}
.icon:hover {
    border-color: var(--color-primary);
}

.copyright {
    position: absolute;
    bottom: 50px;
    font-size: 1.2rem;
    color: white;
    transform: rotate(-180deg);
    writing-mode: vertical-lr;
}